body {
    font-family: 'Noto Sans', sans-serif ;
    background-color: white;
}

h1, h2, h3 {
    font-family: "Noto+Sans", sans-serif;
}

h2 {
    color: #3046C5;
}


header h2 {
    color: #CEC8FF;
}

footer {
    background-color: white;
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    
    color: white;
    
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: white;
}

.jumbotron {
    margin: 0;
}

